server:
  port: 8083

spring:
  application:
    name: agri-farms-common-service

  datasource:
    url: jdbc:postgresql://localhost:5435/agrifarms
    username: agrifarms
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
